# 编译产物
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.o
*.rel.o
*.dev.o
*.elf
*.epf
xswl
xswl.exe
xj380_emu
xj380_emu.exe
test_unicorn
test_xj380.c

# 调试
*.swp
*.swo
*~
.DS_Store
